{{- $params := .Params | merge .Site.Params.page -}}

<article class="single summary">
    {{- /* Featured image */ -}}
    {{- $image := "" -}}
    {{- if ($.Site.Params.home.posts.imagePreview | default true) -}}
        {{- $image = $params.featuredImagePreview | default $params.featuredImage -}}
    {{- end -}}
    {{- with $image -}}
        <div class="featured-image-preview">
            <a href="{{ $.RelPermalink }}" aria-label={{ $.Title }}>
                {{ $optim := slice 
                    (dict "Process" "fill 800x240 Center webp q75" "descriptor" "800w")
                    (dict "Process" "fill 1200x360 Center webp q75" "descriptor" "1200w")
                    (dict "Process" "fill 1600x480 Center webp q75" "descriptor" "1600w") 
                }}
                {{- dict "Src" . "Title" $.Title "Resources" $.Resources "Loading" "eager" "Width" "800" "Height" "240" "Sizes" "(max-width: 680px) 100vw, (max-width: 1000px) 80vw, (max-width: 1440px) 56vw, 800px" "OptimConfig" $optim "Alt" (printf "Featured image for %v" $.Title) | partial "plugin/image.html" -}}
            </a>
        </div>
    {{- end -}}

    {{- /* Title */ -}}
    <h1 class="single-title">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h1>

    {{- /* Meta */ -}}
    <div class="post-meta">

    {{- $series := slice -}}
    {{- range .Params.series -}}
        {{- $singleSeries := partialCached "function/path.html" . . | printf "/series/%v" | $.Site.GetPage -}}
        {{- $icon := partial "plugin/fontawesome.html" (dict "Style" "regular" "Icon" "list-alt") -}}
        {{- $series = $series | append (printf `<a href="%v">%v%v</a>` $singleSeries.RelPermalink $icon $singleSeries.Title) -}}
    {{- end -}}
    {{- with delimit $series "&nbsp;" -}}
        &nbsp;<span class="post-series">
            {{- dict "Series" . | T "includedInSeries" | safeHTML -}}
        </span>
    {{- end -}}
    </div>

    {{- /* Summary content */ -}}
    <div class="content">
        {{- .Description | safeHTML -}}
    </div>

    {{- /* Footer */ -}}
    <div class="post-footer">

        {{- with .Site.Params.dateFormat | default "2006-01-02" | .PublishDate.Format -}}
            <span class="post-publish">
                <time datetime="{{ . }}">{{ . }}</time>
            </span>
        {{- end -}}


        {{- with .Params.categories -}}
            <div class="post-tags">
                {{- partial "plugin/fontawesome.html" (dict "Style" "solid" "Icon" "tags") -}}&nbsp;

                {{- $categories := slice -}}
                {{- range . -}}
                    {{- $category := partialCached "function/path.html" . . | printf "/categories/%v" | $.Site.GetPage -}}
                    {{- $categories = $categories | append (printf `<a href="%v">%v</a>` $category.RelPermalink (lower $category.Title)) -}}
                {{- end -}}
                
                {{- with delimit $categories ",&nbsp;" -}}
                    <span class="post-category">
                        {{- . | safeHTML -}}
                    </span>
                {{- end -}}

            </div>
        {{- end -}}
    </div>
</article>
